.titlecolor{
	color: green;
	position: absolute;
	left:0; top: 90px; bottom: 0;
	width: 180px;
	text-align: center;
	font-style: Comic;
	font-style: italic;
	font-size: 300%;
}

#first{
	font-size: small;
	color: blue;
}

#second{
	font-size: medium;
	color: red;
}