p {
	font-size: medium;
	color: red;
}

h2 {
	background-color: green;
	color: blue;
}

h4 {

	color: green;
}

h5 {

	font-size: small;
}

.blueitalictext{
	font-size: small;
	color: blue;
	font-style: italic;
}

#boldgreentext{
	font-weight: bold;
	color: green;
}